<script src="/recipeForm.js"></script>
<!-- pop up -->
<div class="modal fade" id="message" tabindex="-1" role="dialog" aria-hidden="false">
<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      {{message}}
    </div>
  </div>
</div>
</div>

<form method="{{method}}" action='{{actionurl}}'>
  <div class="row">
    <div class="col-auto">
      <h2>{{title}}</h2>
    </div>
    <div class="col">
      <button type="button" class="btn" onclick="submitForm()">Save</button>
    </div>
  </div>
  <br>
  {{#if this._id}}<input type="hidden" name="id" value="{{this._id}}">{{/if}}
  <div class="form-group row">
    <label for="recipeName" class="col-2 col-form-label">Name</label>
    <div class="col">
      <input type="text" class="form-control" name="name" id="recipeName" value='{{this.name}}' placeholder="Shrimp Dumplings" required>
    </div>
  </div>
  <div class="form-group row">
    <label for="imageURL" class="col-2 col-form-label">Image URL</label>
    <div class="col">
      <div id="photos-group">
        {{#if this.url}}
        {{#each this.url}}
          <input type="text" class="form-control" name="url" id="imageURL{{@index}}" value='{{this}}' placeholder="photos.google.com/hi" onkeyup="imagePreview({{@index}})" style="width: 85%; display: inline">
          <input type="file" accept="image/*" class="form-control" name="uploadedPhoto" id="uploadedPhoto{{@index}}" onchange="uploadPhoto({{@index}})" style="display: none;">
          <input type="button" value="Browse..." class="btn" onclick="document.getElementById('uploadedPhoto{{@index}}').click();">
          <img id="imageURLPreview{{@index}}" src='{{this}}' class="show-preview-img">
        {{/each}}
        {{else}}
          <input type="text" class="form-control" name="url" id="imageURL0" placeholder="photos.google.com/hi" required onkeyup="imagePreview(0)" style="width: 85%; display: inline">
          <input type="file" accept="image/*" class="form-control" name="uploadedPhoto" id="uploadedPhoto0" onchange="uploadPhoto(0)" style="display: none;">
          <input type="button" value="Browse..." class="btn" onclick="document.getElementById('uploadedPhoto0').click();">
          <img id="imageURLPreview0" class="hide-preview-img">
        {{/if}}
      </div>
      <button type="button" class="btn" onclick="addPhoto();">+</button>
    </div>
  </div>
  <!-- deprecated, moved ingredients to textbox -->
  <!-- <div>
    <div class="form-group row">
      <label for="ingredients" class="col-2 col-form-label">Ingredients</label>
      <div class="col">
        <div id="ingredients-group">
          {{#if this.ingredients}}
          {{#each this.ingredients}}
            <input type="text" class="form-control" name="ingredients" id="ingredients" value='{{this}}' placeholder="Chicken">
          {{/each}}
          {{else}}
            <input type="text" class="form-control" name="ingredients" id="ingredients" placeholder="DONT USE">
          {{/if}}
        </div>
        <button type="button" class="btn" onclick="addIngredient();">+</button>
      </div>
    </div>
  </div> -->
  <div>
    <div class="form-group row">
      <label for="instructions" class="col-2 col-form-label">Ingredients/Instructions</label>
      <div class="col">
        <div id="summernote"></div>
        <input type="hidden" id="instructions" name="instructions" {{#if this.instructions}}value='{{this.instructions}}'{{/if}}>
      </div>
    </div>
  </div>
  <div class="form-group row" id="categories">
    <label for="categories" class="col-2 col-form-label">Categories</label><br>
    <div class="col">
      <select name="categories" class="selectpicker" multiple title="None selected" data-width="50%">
        <optgroup label="Meat">
          <option value="chicken">Chicken</option>
          <option value="beef">Beef</option>
          <option value="pork">Pork</option>
          <option value="lamb">Lamb</option>
          <option value="seafood">Seafood</option>
        </optgroup>
        <option value="rice">Rice</option>
        <option value="noodles">Noodles</option>
        <option value="veggies">Veggies</option>
        <option value="sidedish">Side Dish</option>
        <option value="soup">Soup</option>
        <option value="dessert">Dessert</option>
      </select>
    </div>
  </div>
  <button type="button" class="btn" onclick="submitForm()">Save</button>
  <input type="submit" class="btn" value="Save" id="hiddenSubmit" style="visibility: hidden;">
</form>

<script>
$(document).ready( function() {
$('#summernote').summernote({
        placeholder: '1. Beat 6 eggs...',
        minHeight: 150,
        toolbar: [
          ['style', ['style']],
          ['style', ['bold', 'italic', 'underline', 'clear']],
          ['para', ['ul', 'ol', 'paragraph']],
          ['insert', ['link', 'picture', 'video']],
        ],
        styleTags: [
          { title: 'Heading', tag: 'h5', value: 'h5' },
          'p'
        ],
});

var sn = document.getElementsByClassName('note-editable')
for (i=0; i<sn.length; i++) {
  sn[i].addEventListener('paste', function (e) {
    e.preventDefault()
    var text = e.clipboardData.getData('text/plain')
    document.execCommand('insertText', false, text)
  })
}
{{#if this.instructions}}
var sn = document.getElementsByClassName('note-editable')
for (i=0; i<sn.length; i++) {
  sn[i].innerHTML = ""
}
$('#summernote').summernote('pasteHTML', '{{{this.instructions}}}')
{{/if}}

arr = []
{{#each this.categories}}
  arr.push("{{this}}")
{{/each}}
$('.selectpicker').selectpicker('val', arr)

{{#if message}}
$('#message').modal('show')
{{/if}}

count={{#if this.url}}{{this.url.length}}{{else}}0{{/if}}
})
</script>
