<div class="row">
  <div class="col-6">
    <div id="photoGallery" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        {{#each this.url}}
          <div class="carousel-item {{#if (math @index "=" 0)}}active{{/if}}">
            <img src={{this}} class="food-img d-block w-100">
          </div>
        {{/each}}
      </div>
      {{#unless (math this.url.length "=" 1)}}
      <a class="carousel-control-prev" href="#photoGallery" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#photoGallery" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
      <ol class="carousel-indicators">
      {{#each this.url}}
        <li data-target="#photoGallery" data-slide-to="{{@index}}" {{#if (math @index "=" 0)}}class="active"{{/if}}></li>
      {{/each}}
      </ol>
      {{/unless}}
    </div>
  </div>
  <div class="col-6">
    <h1>{{this.name}}</h1>
    {{#if this.ingredients}}
      <p>Ingredients:
        {{#if (math this.ingredients.length "=" 1)}}
          {{this.ingredients}}
        {{else}}
          {{#each this.ingredients}}
          {{#if (math @index "=" (math ../this.ingredients.length "-" 1))}}
            {{this}}
          {{else}}
            {{this}},
          {{/if}}
          {{/each}}
        {{/if}}
      </p>
    {{/if}}
    {{#if this.instructions}}
      <ul>
      {{#each this.instructions}}
        <li>{{this}}</li>
      {{/each}}
      </ul>
    {{/if}}
  </div>
</div>
