<!-- pop up -->
<div class="modal fade" id="message" tabindex="-1" role="dialog" aria-hidden="false">
<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      {{message}}
    </div>
  </div>
</div>
</div>

<!-- delete pop up -->
<div class="modal fade" id="confirmDelete" tabindex="-1" role="dialog" aria-hidden="false">
<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-body text-center">
      <p>This will permanently delete this recipe.<br>
      Please confirm this action.</p>
      <form class="d-inline" method="POST" action='/recipes'>
        <input type="hidden" name="id" value="{{this._id}}">
        <button class="btn btn-danger">Delete</button>
      </form>
      <button class="btn" data-toggle="modal" data-target="#confirmDelete">Cancel</button>
    </div>
  </div>
</div>
</div>

<div class="row" style="margin-top: -60px; margin-bottom: 20px;">
  <div class="col-auto ml-auto">
    <form class="d-inline" method="GET" action='/editRecipe'>
      <input type="hidden" name="id" value="{{this._id}}">
      <button class="btn">
        <img src="/editIcon.svg" width=25 style="padding-left:4px; padding-bottom:2px">
      </button>
    </form>
    <button class="btn" data-toggle="modal" data-target="#confirmDelete">
      <img src="/trashIcon.svg" width=24 style="">
    </button>
  </div>
</div>
<div class="row">
  <div class="col-6">
    <div id="photoGallery" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        {{#each this.url}}
          <div class="carousel-item {{#if (math @index "=" 0)}}active{{/if}}">
            <img src={{this}} class="food-img d-block w-100">
          </div>
        {{/each}}
      </div>
      {{#unless (math this.url.length "=" 1)}}
      <a class="carousel-control-prev" href="#photoGallery" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#photoGallery" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
      <ol class="carousel-indicators">
      {{#each this.url}}
        <li data-target="#photoGallery" data-slide-to="{{@index}}" {{#if (math @index "=" 0)}}class="active"{{/if}}></li>
      {{/each}}
      </ol>
      {{/unless}}
    </div>
  </div>
  <div class="col-6">
    <h1>{{this.name}}</h1>
    {{#if this.ingredients}}
      <p>Ingredients:
        {{#if (math this.ingredients.length "=" 1)}}
          {{this.ingredients}}
        {{else}}
          {{#each this.ingredients}}
          {{#if (math @index "=" (math ../this.ingredients.length "-" 1))}}
            {{this}}
          {{else}}
            {{this}},
          {{/if}}
          {{/each}}
        {{/if}}
      </p>
    {{/if}}
    {{#if this.instructions}}
      <ul>
      {{#each this.instructions}}
        <li>{{this}}</li>
      {{/each}}
      </ul>
    {{/if}}
  </div>
</div>

<script>
{{#if message}}
$('#message').modal('show')
{{/if}}
</script>
